{% load static %}
<link rel="stylesheet" href="{% static 'main/techstack.css' %}">

<section class="techstack-section" id="techstack">
    <div class="container">
        <div class="section-header">
            <h2>Our <span>Tech Stack</span></h2>
            <p>Tools and technologies we use to build your product</p>
        </div>
        <div class="techstack-grid">
            <div class="tech-card">
                <i class="bi bi-filetype-py"></i>
                <span>Python</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-server"></i>
                <span>Django</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-database"></i>
                <span>MySQL</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-filetype-html"></i>
                <span>HTML5</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-filetype-css"></i>
                <span>CSS3</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-filetype-js"></i>
                <span>JavaScript</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-bootstrap"></i>
                <span>Bootstrap</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-diagram-3"></i>
                <span>REST API </span>
            </div>
            <div class="tech-card">
                <i class="bi bi-cloud"></i>
                <span>Railway</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-hdd-network"></i>
                <span>Render</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-triangle"></i>
                <span>Vercel</span>
            </div>
            <div class="tech-card">
                <i class="bi bi-git"></i>
                <span>Git & GitHub</span>
            </div>

        </div>
    </div>
</section>
